<%- include('./layout/header'); -%>

<%- include('./layout/partials/navbar'); -%>

<section class="mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 offset-lg-1 order-md-1 text-center my-auto">
                <svg class="img img-fluid" width="646" height="495" viewBox="0 0 646 495" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M185.488 231.51C169.728 216.268 148.768 209.4 128.093 207.349C96.2832 204.194 61.8038 212.895 39.9653 239.192C12.3477 272.45 11.7599 323.867 18.772 368.756C21.8037 388.162 26.1404 407.871 36.1646 424.005C43.9119 436.474 54.7555 446.227 66.6319 453.458C106.033 477.45 155.571 473.171 196.075 451.648C227.355 435.027 266.921 397.1 251.859 353.504C244.703 332.791 231.543 314.637 222.412 294.988C212.026 272.638 202.854 248.306 185.488 231.51Z" fill="#EEF5DA"/>
                    <path d="M470.112 426.858C462.747 430.255 454.804 432.641 448.599 438.248C440.401 445.651 436.462 459.22 440.761 470.009C444.506 479.415 453.37 485.034 462.263 487.535C480.42 492.647 500.855 486.634 514.116 471.779C527.376 456.924 532.78 433.639 527.203 413.549C525.826 408.585 523.695 403.64 519.992 400.518C515.437 396.677 509.146 396.244 503.656 397.957C488.625 402.647 484.516 420.215 470.112 426.858Z" fill="#EEF5DA"/>
                    <path d="M140.316 471.716C140.314 471.716 140.313 471.716 140.312 471.716C116.6 471.716 94.9118 465.83 75.8493 454.224C61.8389 445.692 50.7752 434.993 42.9678 422.427C31.8397 404.514 27.2445 382.294 24.219 362.92C14.4539 300.406 22.1538 253.476 47.1036 223.43C65.8603 200.846 94.8488 188.406 128.733 188.406C133.156 188.406 137.651 188.63 142.092 189.07C167.915 191.63 188.736 200.402 203.974 215.141C219.822 230.468 229.379 251.696 238.622 272.224C240.307 275.969 241.988 279.702 243.699 283.384C247.555 291.683 252.173 299.89 256.639 307.825C263.515 320.041 270.624 332.674 275.282 346.16C292.379 395.644 245.537 436.163 215.165 452.303C191.263 465.004 165.381 471.716 140.316 471.716ZM128.733 189.961C95.2338 189.961 66.6008 202.225 48.1079 224.493C23.4701 254.162 15.8888 300.645 25.5737 362.651C28.574 381.856 33.1214 403.87 44.0959 421.535C51.779 433.902 62.6832 444.439 76.5033 452.857C95.3617 464.339 116.83 470.162 140.311 470.163C165.176 470.164 190.857 463.502 214.577 450.898C244.519 434.987 290.727 395.142 274 346.725C269.388 333.381 262.317 320.813 255.478 308.659C250.996 300.696 246.361 292.462 242.479 284.108C240.765 280.42 239.082 276.682 237.393 272.929C228.212 252.536 218.718 231.448 203.078 216.321C188.062 201.797 167.502 193.15 141.97 190.618C137.57 190.181 133.116 189.961 128.733 189.961Z" fill="#FBEE5A"/>
                    <path d="M481.402 494.988C481.401 494.988 481.403 494.988 481.402 494.988C476.909 494.988 472.473 494.379 468.221 493.177C457.674 490.196 449.71 483.657 446.368 475.235C442.141 464.588 445.578 450.551 454.361 442.585C459.136 438.254 464.963 435.797 470.595 433.42C472.388 432.664 474.179 431.908 475.937 431.094C482.569 428.025 487.046 422.459 491.376 417.078C496.261 411.005 501.312 404.727 509.391 402.197C511.474 401.545 513.589 401.213 515.678 401.213C519.753 401.213 523.405 402.483 526.24 404.884C529.501 407.645 531.927 412.031 533.658 418.288C539.222 438.414 533.921 462.102 520.466 477.235C510.434 488.517 496.195 494.988 481.402 494.988ZM515.678 402.768C513.714 402.768 511.722 403.08 509.758 403.695C502.064 406.106 497.367 411.942 492.395 418.122C487.963 423.633 483.38 429.329 476.46 432.533C474.689 433.352 472.886 434.115 471.078 434.876C465.547 437.209 459.826 439.623 455.225 443.797C446.914 451.335 443.645 464.578 447.623 474.601C450.792 482.584 458.422 488.807 468.555 491.671C472.699 492.841 477.021 493.436 481.402 493.436C495.834 493.436 509.717 487.129 519.493 476.133C532.595 461.4 537.759 438.339 532.343 418.753C530.702 412.816 528.436 408.686 525.414 406.128C522.818 403.93 519.451 402.768 515.678 402.768Z" fill="#67972F"/>
                    <path d="M5.99349 245.617C-4.88928 285.185 -0.886924 332.945 17.4724 368.821C35.8323 404.697 73.0145 429.462 109.556 433.398C160.09 438.843 209.714 404.255 259.856 413.197C280.475 416.876 299.451 427.699 319.008 435.936C338.566 444.173 360.216 449.879 380.173 442.968C397.768 436.875 411.621 421.861 427.297 410.976C463.385 385.913 510.997 381.459 539.535 346.109C551.862 330.84 559.195 311.237 564.198 291.366C570.975 264.455 573.859 235.776 568.636 208.426C563.411 181.077 549.393 155.174 528.065 140.919C495.947 119.452 455.26 127.656 419.151 138.321C383.039 148.984 344.283 161.378 309.315 146.639C295.441 140.792 283.208 131.002 270.623 122.189C252.679 109.622 233.428 98.7609 212.691 94.2522C191.955 89.7444 169.477 92.0869 151.427 104.458C137.382 114.084 127.084 128.718 114.797 140.734C102.067 153.183 88.6705 157.79 73.5407 164.955C42.4459 179.681 15.8743 209.691 5.99349 245.617Z" fill="#EAEDEF"/>
                    <path d="M367.901 454.519C355.537 454.519 342.108 451.287 325.635 444.351C320.438 442.161 315.199 439.751 310.132 437.422C296.145 430.989 281.683 424.337 266.608 421.649C261.115 420.669 255.308 420.172 249.348 420.172C229.176 420.172 208.667 425.808 188.833 431.257C168.817 436.756 148.116 442.443 127.568 442.443C127.564 442.443 127.564 442.443 127.56 442.443C123.738 442.443 119.966 442.245 116.346 441.855C78.778 437.808 41.5742 411.712 23.7684 376.919C5.48153 341.184 1.06019 293.754 12.2317 253.137C21.7807 218.419 47.8036 187.337 80.1451 172.022C82.8528 170.739 85.5042 169.539 88.1067 168.362C99.8049 163.066 110.855 158.066 121.228 147.921C125.45 143.793 129.51 139.271 133.437 134.899C140.931 126.553 148.68 117.924 157.945 111.575C169.814 103.44 184.399 99.1401 200.122 99.1401C206.57 99.1401 213.145 99.8588 219.665 101.276C237.592 105.173 256.07 114.081 277.815 129.309C280.252 131.017 282.677 132.759 285.102 134.503C295.015 141.634 305.266 149.006 316.391 153.695C327.118 158.217 338.672 160.414 351.713 160.414C375.001 160.414 398.91 153.331 422.033 146.481L425.84 145.353C442.968 140.295 465.36 134.489 486.673 134.489C505.726 134.489 521.614 138.918 535.244 148.028C555.56 161.609 570.458 186.385 576.114 216.008C580.845 240.777 579.348 268.801 571.668 299.299C565.683 323.066 557.57 341.069 546.861 354.333C529.504 375.834 504.694 386.158 480.699 396.142C464.969 402.687 448.701 409.455 434.485 419.328C429.499 422.79 424.612 426.741 419.885 430.563C409.76 438.748 399.292 447.213 387.213 451.396C381.23 453.468 374.733 454.519 367.901 454.519ZM249.349 418.723C255.376 418.723 261.25 419.225 266.809 420.217C282.031 422.932 296.563 429.615 310.617 436.079C315.675 438.405 320.906 440.811 326.086 442.992C342.409 449.866 355.696 453.068 367.901 453.068C374.605 453.068 380.976 452.039 386.838 450.009C398.716 445.897 409.098 437.502 419.138 429.385C423.882 425.548 428.789 421.582 433.813 418.093C448.138 408.145 464.466 401.351 480.257 394.782C504.106 384.858 528.766 374.596 545.914 353.357C556.484 340.261 564.505 322.45 570.433 298.903C578.055 268.636 579.546 240.849 574.86 216.315C569.279 187.086 554.6 162.652 534.591 149.277C521.164 140.304 505.491 135.941 486.674 135.941C465.508 135.941 443.219 141.721 426.166 146.758L422.36 147.884C399.159 154.758 375.167 161.865 351.714 161.865C338.517 161.865 326.816 159.637 315.943 155.054C304.692 150.312 294.383 142.896 284.412 135.727C281.991 133.985 279.571 132.245 277.139 130.542C255.531 115.409 237.191 106.563 219.423 102.699C212.984 101.3 206.49 100.59 200.124 100.59C184.636 100.59 170.282 104.818 158.613 112.814C149.477 119.075 141.783 127.645 134.341 135.931C130.4 140.32 126.325 144.858 122.071 149.018C111.535 159.322 100.387 164.367 88.5864 169.708C85.9898 170.883 83.3447 172.081 80.6433 173.36C48.6426 188.513 22.8996 219.248 13.4588 253.568C2.39154 293.81 6.76834 340.798 24.8825 376.194C42.4885 410.599 79.2949 436.406 116.47 440.412C120.049 440.798 123.78 440.993 127.561 440.994C127.562 440.994 127.567 440.994 127.569 440.994C147.966 440.994 168.585 435.328 188.53 429.847C208.436 424.378 229.022 418.723 249.349 418.723Z" fill="#D9EABC"/>
                    <path d="M286 439.097L135.086 352.009C130.816 349.545 131.352 345.242 136.282 342.398L239.043 283.116C243.973 280.272 251.429 279.962 255.698 282.426L406.613 369.515C410.882 371.978 410.346 376.281 405.417 379.126L302.656 438.406C297.726 441.251 290.269 441.561 286 439.097Z" fill="#E8EAEF"/>
                    <path d="M412.196 198.203L258.791 109.752C256.816 108.613 255.001 108.437 253.539 109.047L253.545 109.029L253.293 109.145C253.273 109.156 253.253 109.163 253.232 109.174L248.238 111.522L253.66 114.22C253.658 114.321 253.649 114.416 253.649 114.52L253.696 240.457C253.698 246.759 257.601 254.117 262.413 256.891L411.726 342.984L412.574 350.007L418.026 347.408C419.823 346.354 420.959 343.97 420.958 340.574L420.911 214.638C420.908 208.335 417.007 200.977 412.196 198.203Z" fill="#67972F"/>
                    <path d="M412.196 198.203L258.791 109.752C256.816 108.613 255.001 108.437 253.539 109.047L253.545 109.029L253.293 109.145C253.273 109.156 253.253 109.163 253.232 109.174L248.238 111.522L253.66 114.22C253.658 114.321 253.649 114.416 253.649 114.52L253.679 197.519L323.495 252.654L418.286 204.972C416.715 202.053 414.566 199.571 412.196 198.203Z" fill="#8DC640"/>
                    <path d="M414.758 200.185L399.724 206.505L411.075 215.247L420.552 211.213C419.73 207.072 417.542 202.911 414.758 200.185Z" fill="#79AD37"/>
                    <path d="M407.201 349.341L253.797 260.889C248.985 258.114 245.082 250.757 245.08 244.454L245.033 118.518C245.03 112.216 248.929 109.355 253.741 112.13L407.145 200.581C411.956 203.355 415.859 210.713 415.861 217.015L415.908 342.952C415.91 349.254 412.012 352.114 407.201 349.341Z" fill="#E8EAEF"/>
                    <path d="M402.097 339.973L258.825 257.403C254.422 254.865 250.852 248.132 250.849 242.365L250.806 127.122C250.804 121.354 254.372 118.737 258.775 121.276L402.046 203.845C406.45 206.383 410.021 213.116 410.023 218.884L410.066 334.125C410.068 339.894 406.501 342.511 402.097 339.973Z" fill="white"/>
                    <path d="M402.097 339.973L258.825 257.403C254.422 254.865 250.852 248.132 250.849 242.365L250.806 127.122C250.804 121.354 254.372 118.737 258.775 121.276L402.046 203.845C406.45 206.383 410.021 213.116 410.023 218.884L410.066 334.125C410.068 339.894 406.501 342.511 402.097 339.973Z" fill="white"/>
                    <path d="M409.491 353.252L388.862 350.529L255.698 273.684C251.429 271.22 243.973 271.529 239.043 274.374L144.683 328.806L132.209 327.159V334.234L132.222 334.235C132.14 335.871 133.071 337.443 135.085 338.606L286 425.695C290.268 428.158 297.725 427.849 302.655 425.004L405.417 365.722C408.19 364.123 409.572 362.06 409.491 360.125V353.252Z" fill="#67972F"/>
                    <path d="M309.435 304.694L299.975 299.234H195.961L144.683 328.806L132.209 327.159V334.234L132.222 334.235C132.14 335.871 133.071 337.443 135.085 338.606L286 425.695C288.255 426.996 291.402 427.516 294.595 427.305L309.435 304.694Z" fill="#8DC640"/>
                    <path d="M137.745 327.891L132.209 327.159V334.234L132.222 334.235C132.14 335.871 133.071 337.443 135.085 338.606L137.745 340.141V327.891Z" fill="#79AD37"/>
                    <path d="M287.519 426.399C291.566 427.933 297.352 427.599 301.672 425.521V409.741H287.519V426.399Z" fill="#79AD37"/>
                    <path d="M286 418.627L135.086 331.54C130.816 329.076 131.352 324.772 136.282 321.928L239.043 262.647C243.973 259.802 251.429 259.493 255.698 261.956L406.613 349.045C410.882 351.508 410.346 355.812 405.417 358.656L302.656 417.937C297.726 420.782 290.269 421.091 286 418.627Z" fill="#E8EAEF"/>
                    <path d="M405.417 356.073L302.656 415.354C297.726 418.198 290.269 418.507 286 416.044L135.086 328.956C133.687 328.148 132.813 327.142 132.432 326.054C131.764 328.072 132.616 330.113 135.086 331.54L286 418.627C290.269 421.091 297.726 420.783 302.656 417.939L405.417 358.657C408.73 356.745 410.048 354.175 409.266 351.947C408.781 353.417 407.493 354.875 405.417 356.073Z" fill="white"/>
                    <path d="M199.272 302.708L192.443 298.767C191.894 298.451 191.963 297.898 192.596 297.534L200.656 292.882C201.289 292.516 202.247 292.477 202.795 292.793L209.623 296.734C210.171 297.05 210.103 297.602 209.47 297.968L201.41 302.62C200.778 302.985 199.82 303.025 199.272 302.708Z" fill="#727A9C"/>
                    <path d="M209.816 308.794L202.987 304.853C202.44 304.537 202.508 303.984 203.141 303.619L211.202 298.967C211.834 298.602 212.792 298.563 213.34 298.879L220.168 302.819C220.716 303.136 220.647 303.689 220.014 304.053L211.955 308.704C211.323 309.07 210.364 309.11 209.816 308.794Z" fill="#727A9C"/>
                    <path d="M220.362 314.879L213.533 310.937C212.984 310.621 213.054 310.069 213.687 309.704L221.746 305.053C222.379 304.687 223.337 304.647 223.885 304.963L230.714 308.904C231.26 309.221 231.193 309.773 230.56 310.139L222.501 314.79C221.868 315.155 220.91 315.195 220.362 314.879Z" fill="#727A9C"/>
                    <path d="M234.945 309.854L228.117 305.913C227.569 305.596 227.638 305.044 228.27 304.679L235.037 300.775C235.67 300.41 236.628 300.37 237.176 300.686L244.003 304.626C244.551 304.943 244.483 305.496 243.85 305.86L237.084 309.764C236.451 310.13 235.493 310.17 234.945 309.854Z" fill="#727A9C"/>
                    <path d="M245.49 315.938L238.662 311.999C238.114 311.681 238.183 311.128 238.816 310.763L245.581 306.86C246.214 306.494 247.172 306.455 247.72 306.77L254.549 310.711C255.098 311.027 255.028 311.58 254.395 311.945L247.63 315.849C246.996 316.216 246.038 316.254 245.49 315.938Z" fill="#727A9C"/>
                    <path d="M256.035 322.024L249.207 318.083C248.659 317.767 248.727 317.214 249.36 316.848L256.127 312.944C256.76 312.58 257.717 312.54 258.265 312.856L265.093 316.797C265.641 317.113 265.573 317.666 264.94 318.031L258.173 321.935C257.54 322.3 256.583 322.34 256.035 322.024Z" fill="#727A9C"/>
                    <path d="M266.58 328.108L259.751 324.167C259.203 323.852 259.273 323.3 259.906 322.934L266.67 319.03C267.303 318.664 268.261 318.624 268.809 318.942L275.638 322.881C276.186 323.198 276.117 323.75 275.484 324.116L268.719 328.02C268.086 328.385 267.128 328.424 266.58 328.108Z" fill="#727A9C"/>
                    <path d="M277.124 334.194L270.297 330.253C269.749 329.937 269.817 329.384 270.45 329.02L277.216 325.116C277.849 324.75 278.807 324.71 279.355 325.026L286.183 328.967C286.731 329.283 286.663 329.836 286.03 330.201L279.263 334.105C278.631 334.47 277.673 334.51 277.124 334.194Z" fill="#727A9C"/>
                    <path d="M287.67 340.278L280.841 336.339C280.293 336.022 280.362 335.469 280.995 335.104L287.76 331.2C288.393 330.834 289.351 330.796 289.899 331.111L296.728 335.052C297.276 335.368 297.207 335.92 296.574 336.286L289.809 340.19C289.176 340.556 288.218 340.596 287.67 340.278Z" fill="#727A9C"/>
                    <path d="M298.214 346.365L291.386 342.424C290.838 342.108 290.907 341.555 291.54 341.189L298.306 337.285C298.939 336.92 299.897 336.88 300.445 337.196L307.273 341.138C307.821 341.454 307.752 342.006 307.119 342.372L300.353 346.276C299.72 346.64 298.763 346.681 298.214 346.365Z" fill="#727A9C"/>
                    <path d="M308.759 352.449L301.931 348.507C301.382 348.193 301.452 347.64 302.085 347.274L308.85 343.37C309.483 343.004 310.441 342.964 310.989 343.282L317.817 347.221C318.366 347.539 318.296 348.09 317.663 348.456L310.899 352.36C310.266 352.725 309.308 352.765 308.759 352.449Z" fill="#727A9C"/>
                    <path d="M319.304 358.535L312.476 354.593C311.928 354.277 311.997 353.725 312.63 353.36L319.396 349.456C320.029 349.09 320.987 349.05 321.535 349.366L328.362 353.307C328.911 353.623 328.842 354.177 328.209 354.541L321.442 358.445C320.81 358.811 319.852 358.851 319.304 358.535Z" fill="#727A9C"/>
                    <path d="M329.85 364.619L323.02 360.68C322.472 360.362 322.542 359.81 323.175 359.445L329.939 355.54C330.573 355.175 331.53 355.136 332.079 355.451L338.907 359.392C339.455 359.708 339.386 360.261 338.753 360.626L331.988 364.531C331.355 364.897 330.397 364.936 329.85 364.619Z" fill="#727A9C"/>
                    <path d="M250.482 306.972L243.654 303.031C243.106 302.715 243.175 302.163 243.808 301.798L250.573 297.893C251.206 297.527 252.165 297.489 252.711 297.804L259.54 301.745C260.089 302.061 260.02 302.614 259.387 302.978L252.621 306.882C251.989 307.249 251.031 307.289 250.482 306.972Z" fill="#6A88B9"/>
                    <path d="M239.781 300.796L232.952 296.856C232.403 296.539 232.473 295.986 233.106 295.622L239.871 291.718C240.504 291.352 241.461 291.313 242.01 291.628L248.839 295.569C249.387 295.885 249.317 296.438 248.684 296.804L241.92 300.708C241.286 301.074 240.329 301.113 239.781 300.796Z" fill="#6A88B9"/>
                    <path d="M229.061 294.61L214.354 286.123C213.806 285.807 213.875 285.254 214.508 284.89L221.273 280.985C221.906 280.619 222.864 280.58 223.412 280.896L238.119 289.383C238.667 289.699 238.598 290.252 237.965 290.617L231.199 294.521C230.566 294.886 229.608 294.927 229.061 294.61Z" fill="#727A9C"/>
                    <path d="M236.553 287.087L224.619 280.2C224.071 279.883 224.139 279.332 224.773 278.966L231.539 275.062C232.172 274.696 233.129 274.656 233.677 274.972L245.612 281.86C246.16 282.176 246.092 282.729 245.459 283.094L238.693 286.997C238.06 287.364 237.101 287.404 236.553 287.087Z" fill="#727A9C"/>
                    <path d="M261.026 313.057L254.199 309.117C253.651 308.801 253.719 308.249 254.353 307.883L261.118 303.979C261.751 303.614 262.709 303.574 263.257 303.891L270.086 307.831C270.633 308.147 270.566 308.699 269.932 309.065L263.167 312.969C262.533 313.335 261.575 313.374 261.026 313.057Z" fill="#6A88B9"/>
                    <path d="M271.572 319.142L264.745 315.202C264.195 314.886 264.265 314.333 264.898 313.967L271.663 310.064C272.296 309.698 273.254 309.658 273.802 309.975L280.631 313.915C281.179 314.231 281.111 314.784 280.478 315.15L273.711 319.054C273.078 319.419 272.121 319.459 271.572 319.142Z" fill="#727A9C"/>
                    <path d="M282.118 325.228L275.289 321.288C274.741 320.972 274.809 320.419 275.442 320.053L282.209 316.149C282.841 315.783 283.799 315.744 284.347 316.061L291.176 320C291.723 320.317 291.655 320.87 291.022 321.235L284.257 325.139C283.623 325.505 282.666 325.543 282.118 325.228Z" fill="#727A9C"/>
                    <path d="M292.662 331.313L285.833 327.372C285.285 327.056 285.354 326.503 285.987 326.139L292.752 322.235C293.385 321.869 294.343 321.829 294.891 322.145L301.72 326.086C302.268 326.402 302.2 326.955 301.567 327.321L294.8 331.224C294.168 331.589 293.21 331.629 292.662 331.313Z" fill="#727A9C"/>
                    <path d="M303.207 337.397L296.379 333.458C295.83 333.142 295.899 332.589 296.533 332.223L303.298 328.319C303.931 327.955 304.889 327.915 305.437 328.231L312.266 332.172C312.813 332.487 312.744 333.039 312.111 333.405L305.347 337.309C304.712 337.675 303.756 337.715 303.207 337.397Z" fill="#727A9C"/>
                    <path d="M313.752 343.483L306.924 339.542C306.377 339.226 306.445 338.673 307.078 338.309L313.843 334.405C314.476 334.039 315.434 333.999 315.982 334.315L322.81 338.256C323.359 338.572 323.29 339.125 322.657 339.491L315.891 343.395C315.258 343.759 314.3 343.799 313.752 343.483Z" fill="#727A9C"/>
                    <path d="M324.298 349.569L317.469 345.628C316.92 345.311 316.989 344.759 317.622 344.393L324.389 340.489C325.021 340.123 325.978 340.084 326.527 340.4L333.355 344.34C333.903 344.657 333.834 345.21 333.201 345.574L326.436 349.478C325.803 349.845 324.845 349.885 324.298 349.569Z" fill="#727A9C"/>
                    <path d="M334.841 355.654L328.013 351.713C327.465 351.396 327.533 350.844 328.167 350.479L334.934 346.575C335.567 346.209 336.522 346.169 337.072 346.486L343.9 350.427C344.447 350.743 344.379 351.295 343.746 351.661L336.981 355.565C336.348 355.93 335.39 355.97 334.841 355.654Z" fill="#727A9C"/>
                    <path d="M345.387 361.738L338.558 357.798C338.01 357.482 338.078 356.929 338.712 356.563L345.477 352.659C346.11 352.294 347.068 352.255 347.616 352.571L354.445 356.512C354.992 356.828 354.924 357.379 354.291 357.745L347.526 361.649C346.892 362.016 345.935 362.056 345.387 361.738Z" fill="#727A9C"/>
                    <path d="M364.133 372.557L349.234 363.96C348.686 363.644 348.755 363.09 349.388 362.725L356.154 358.821C356.786 358.455 357.744 358.417 358.292 358.732L373.191 367.33C373.738 367.646 373.67 368.199 373.037 368.564L366.272 372.468C365.639 372.833 364.681 372.873 364.133 372.557Z" fill="#727A9C"/>
                    <path d="M384.662 360.71L372.088 353.453C371.54 353.137 371.608 352.584 372.241 352.219L379.007 348.315C379.641 347.949 380.598 347.91 381.147 348.226L393.721 355.482C394.269 355.799 394.201 356.352 393.568 356.717L386.802 360.621C386.169 360.987 385.211 361.027 384.662 360.71Z" fill="#727A9C"/>
                    <path d="M279.494 311.867L272.665 307.926C272.117 307.61 272.186 307.057 272.819 306.692L279.584 302.788C280.217 302.423 281.175 302.383 281.723 302.699L288.552 306.64C289.101 306.956 289.031 307.509 288.398 307.874L281.633 311.777C281 312.144 280.042 312.183 279.494 311.867Z" fill="#727A9C"/>
                    <path d="M268.686 305.63L261.858 301.689C261.31 301.373 261.378 300.821 262.012 300.455L268.778 296.551C269.411 296.186 270.369 296.146 270.917 296.463L277.745 300.403C278.293 300.719 278.224 301.272 277.591 301.638L270.825 305.542C270.192 305.907 269.234 305.946 268.686 305.63Z" fill="#727A9C"/>
                    <path d="M257.88 299.394L251.051 295.453C250.503 295.137 250.572 294.584 251.205 294.219L257.971 290.315C258.604 289.949 259.561 289.91 260.11 290.226L266.939 294.166C267.487 294.483 267.417 295.036 266.784 295.401L260.019 299.305C259.386 299.671 258.428 299.709 257.88 299.394Z" fill="#6A88B9"/>
                    <path d="M247.072 293.157L240.245 289.217C239.696 288.9 239.765 288.348 240.398 287.983L247.164 284.078C247.797 283.712 248.755 283.674 249.303 283.99L256.131 287.93C256.679 288.246 256.61 288.799 255.978 289.164L249.211 293.069C248.578 293.434 247.621 293.474 247.072 293.157Z" fill="#727A9C"/>
                    <path d="M290.038 317.951L283.21 314.011C282.662 313.695 282.73 313.142 283.364 312.776L290.13 308.873C290.763 308.508 291.721 308.468 292.269 308.784L299.096 312.725C299.645 313.041 299.576 313.593 298.943 313.958L292.177 317.863C291.545 318.229 290.586 318.269 290.038 317.951Z" fill="#727A9C"/>
                    <path d="M300.584 324.037L293.755 320.096C293.207 319.78 293.276 319.227 293.909 318.862L300.674 314.958C301.307 314.593 302.265 314.553 302.813 314.869L309.642 318.81C310.19 319.126 310.121 319.679 309.488 320.044L302.723 323.949C302.09 324.313 301.132 324.353 300.584 324.037Z" fill="#727A9C"/>
                    <path d="M311.128 330.123L304.3 326.181C303.752 325.865 303.82 325.313 304.453 324.947L311.22 321.043C311.853 320.678 312.81 320.639 313.359 320.955L320.187 324.894C320.734 325.212 320.666 325.765 320.033 326.129L313.267 330.033C312.634 330.399 311.676 330.438 311.128 330.123Z" fill="#727A9C"/>
                    <path d="M321.673 336.207L314.845 332.267C314.297 331.95 314.365 331.398 314.998 331.033L321.764 327.129C322.396 326.764 323.354 326.723 323.903 327.039L330.732 330.98C331.279 331.297 331.211 331.849 330.577 332.215L323.812 336.119C323.18 336.483 322.222 336.523 321.673 336.207Z" fill="#727A9C"/>
                    <path d="M332.218 342.292L325.39 338.352C324.842 338.036 324.91 337.483 325.543 337.118L332.31 333.214C332.943 332.849 333.9 332.809 334.448 333.125L341.277 337.066C341.824 337.381 341.756 337.934 341.123 338.3L334.356 342.203C333.723 342.569 332.766 342.609 332.218 342.292Z" fill="#727A9C"/>
                    <path d="M342.763 348.378L335.935 344.437C335.386 344.121 335.455 343.569 336.088 343.204L342.854 339.3C343.486 338.934 344.444 338.893 344.992 339.21L351.821 343.151C352.369 343.467 352.3 344.02 351.667 344.386L344.902 348.289C344.269 348.654 343.312 348.694 342.763 348.378Z" fill="#727A9C"/>
                    <path d="M353.308 354.463L346.48 350.522C345.932 350.206 346.001 349.654 346.633 349.288L353.4 345.384C354.033 345.018 354.991 344.979 355.538 345.295L362.366 349.236C362.914 349.552 362.845 350.105 362.213 350.47L355.446 354.373C354.813 354.74 353.855 354.778 353.308 354.463Z" fill="#727A9C"/>
                    <path d="M363.853 360.548L357.024 356.608C356.476 356.291 356.546 355.738 357.178 355.374L363.944 351.47C364.577 351.104 365.534 351.064 366.082 351.38L372.911 355.321C373.459 355.637 373.39 356.19 372.757 356.556L365.992 360.459C365.359 360.826 364.401 360.864 363.853 360.548Z" fill="#727A9C"/>
                    <path d="M374.397 366.632L367.57 362.693C367.022 362.376 367.09 361.824 367.723 361.458L374.489 357.554C375.122 357.189 376.08 357.15 376.628 357.466L383.456 361.406C384.003 361.722 383.935 362.274 383.303 362.64L376.536 366.544C375.903 366.91 374.945 366.95 374.397 366.632Z" fill="#727A9C"/>
                    <path d="M273.94 296.815L267.113 292.875C266.565 292.559 266.633 292.007 267.266 291.641L274.032 287.737C274.665 287.371 275.623 287.331 276.172 287.649L282.999 291.588C283.548 291.904 283.48 292.457 282.846 292.823L276.08 296.727C275.446 297.092 274.489 297.131 273.94 296.815Z" fill="#727A9C"/>
                    <path d="M263.448 290.76L256.621 286.821C256.073 286.505 256.141 285.951 256.775 285.586L263.54 281.682C264.173 281.317 265.131 281.277 265.679 281.593L272.508 285.534C273.055 285.849 272.987 286.402 272.354 286.767L265.589 290.672C264.954 291.037 263.997 291.078 263.448 290.76Z" fill="#727A9C"/>
                    <path d="M252.957 284.706L246.128 280.765C245.58 280.449 245.649 279.896 246.282 279.531L253.047 275.626C253.68 275.261 254.638 275.222 255.186 275.538L262.014 279.478C262.563 279.795 262.494 280.348 261.86 280.712L255.095 284.616C254.462 284.982 253.505 285.022 252.957 284.706Z" fill="#727A9C"/>
                    <path d="M242.464 278.651L235.635 274.71C235.087 274.394 235.157 273.841 235.79 273.476L242.555 269.572C243.188 269.206 244.146 269.166 244.694 269.482L251.522 273.423C252.071 273.739 252.002 274.292 251.368 274.658L244.603 278.562C243.97 278.927 243.013 278.967 242.464 278.651Z" fill="#727A9C"/>
                    <path d="M253.253 272.425L246.424 268.484C245.876 268.168 245.945 267.616 246.578 267.25L248.815 265.96C249.448 265.594 250.405 265.554 250.954 265.871L257.781 269.812C258.329 270.128 258.261 270.681 257.628 271.046L255.392 272.337C254.759 272.702 253.802 272.741 253.253 272.425Z" fill="#727A9C"/>
                    <path d="M266.946 280.327L260.117 276.386C259.569 276.07 259.638 275.517 260.271 275.151L262.508 273.861C263.141 273.495 264.099 273.456 264.647 273.772L271.475 277.712C272.023 278.028 271.955 278.581 271.321 278.947L269.085 280.237C268.452 280.603 267.494 280.642 266.946 280.327Z" fill="#727A9C"/>
                    <path d="M277.395 286.356L270.567 282.415C270.018 282.099 270.087 281.546 270.72 281.181L272.957 279.89C273.59 279.525 274.547 279.485 275.096 279.802L281.924 283.742C282.472 284.058 282.403 284.611 281.77 284.977L279.533 286.268C278.901 286.632 277.943 286.672 277.395 286.356Z" fill="#727A9C"/>
                    <path d="M287.843 292.385L281.015 288.446C280.467 288.129 280.535 287.576 281.168 287.211L283.405 285.92C284.038 285.556 284.995 285.516 285.544 285.832L292.373 289.772C292.921 290.088 292.852 290.641 292.218 291.006L289.982 292.297C289.349 292.663 288.391 292.701 287.843 292.385Z" fill="#727A9C"/>
                    <path d="M298.292 298.416L291.464 294.475C290.916 294.159 290.985 293.606 291.617 293.24L293.854 291.95C294.487 291.584 295.445 291.545 295.993 291.861L302.822 295.802C303.37 296.118 303.301 296.671 302.668 297.035L300.432 298.326C299.798 298.692 298.84 298.731 298.292 298.416Z" fill="#727A9C"/>
                    <path d="M356.625 332.077L349.798 328.138C349.25 327.822 349.318 327.269 349.951 326.903L352.187 325.612C352.82 325.247 353.778 325.207 354.327 325.523L361.155 329.464C361.703 329.78 361.635 330.333 361.001 330.699L358.765 331.989C358.132 332.354 357.174 332.394 356.625 332.077Z" fill="#727A9C"/>
                    <path d="M367.075 338.108L360.245 334.167C359.698 333.851 359.766 333.298 360.399 332.934L362.636 331.642C363.269 331.277 364.227 331.237 364.775 331.553L371.602 335.493C372.151 335.81 372.083 336.363 371.449 336.728L369.213 338.018C368.581 338.384 367.623 338.424 367.075 338.108Z" fill="#727A9C"/>
                    <path d="M377.523 344.137L370.694 340.196C370.147 339.88 370.215 339.327 370.848 338.963L373.084 337.671C373.718 337.306 374.675 337.267 375.224 337.583L382.052 341.524C382.6 341.84 382.532 342.393 381.899 342.757L379.662 344.049C379.03 344.413 378.072 344.453 377.523 344.137Z" fill="#727A9C"/>
                    <path d="M387.971 350.166L381.143 346.227C380.595 345.91 380.664 345.357 381.296 344.992L383.533 343.701C384.166 343.336 385.124 343.296 385.672 343.612L392.501 347.553C393.049 347.869 392.981 348.422 392.347 348.788L390.111 350.078C389.478 350.444 388.519 350.484 387.971 350.166Z" fill="#727A9C"/>
                    <path d="M284.486 302.901L277.657 298.961C277.109 298.644 277.179 298.091 277.812 297.726L284.577 293.821C285.21 293.457 286.168 293.417 286.716 293.733L293.544 297.674C294.093 297.99 294.024 298.543 293.391 298.908L286.625 302.812C285.992 303.177 285.035 303.217 284.486 302.901Z" fill="#727A9C"/>
                    <path d="M295.031 308.985L288.203 305.046C287.655 304.728 287.723 304.177 288.356 303.811L295.123 299.907C295.755 299.541 296.713 299.502 297.262 299.818L304.09 303.758C304.637 304.074 304.569 304.627 303.936 304.993L297.171 308.897C296.537 309.263 295.58 309.302 295.031 308.985Z" fill="#727A9C"/>
                    <path d="M305.576 315.071L298.747 311.131C298.198 310.814 298.268 310.262 298.901 309.896L305.666 305.992C306.3 305.628 307.256 305.588 307.805 305.904L314.634 309.845C315.182 310.161 315.113 310.713 314.48 311.078L307.715 314.982C307.082 315.348 306.124 315.387 305.576 315.071Z" fill="#727A9C"/>
                    <path d="M316.12 321.155L309.292 317.215C308.744 316.899 308.812 316.347 309.447 315.981L316.211 312.077C316.844 311.711 317.802 311.671 318.351 311.989L325.179 315.929C325.726 316.245 325.658 316.797 325.025 317.163L318.259 321.067C317.627 321.432 316.669 321.472 316.12 321.155Z" fill="#727A9C"/>
                    <path d="M326.665 327.241L319.839 323.301C319.289 322.985 319.358 322.432 319.992 322.066L326.756 318.163C327.389 317.797 328.347 317.757 328.896 318.073L335.724 322.014C336.272 322.33 336.204 322.883 335.571 323.248L328.805 327.152C328.172 327.518 327.214 327.558 326.665 327.241Z" fill="#727A9C"/>
                    <path d="M337.211 333.326L330.382 329.386C329.833 329.069 329.902 328.516 330.535 328.152L337.302 324.247C337.935 323.883 338.892 323.843 339.44 324.158L346.268 328.1C346.816 328.416 346.747 328.968 346.114 329.334L339.35 333.237C338.716 333.603 337.759 333.643 337.211 333.326Z" fill="#727A9C"/>
                    <path d="M347.755 339.412L340.927 335.471C340.378 335.155 340.447 334.602 341.08 334.236L347.847 330.332C348.48 329.968 349.436 329.928 349.984 330.244L356.813 334.185C357.361 334.501 357.292 335.054 356.659 335.418L349.894 339.323C349.261 339.688 348.303 339.728 347.755 339.412Z" fill="#727A9C"/>
                    <path d="M358.3 345.496L351.472 341.555C350.924 341.24 350.993 340.687 351.626 340.322L358.391 336.418C359.024 336.053 359.981 336.012 360.53 336.329L367.358 340.269C367.907 340.585 367.837 341.138 367.205 341.504L360.438 345.408C359.805 345.774 358.849 345.813 358.3 345.496Z" fill="#727A9C"/>
                    <path d="M368.845 351.582L362.018 347.641C361.469 347.325 361.537 346.773 362.171 346.408L368.935 342.504C369.568 342.138 370.526 342.097 371.075 342.414L377.903 346.355C378.451 346.671 378.383 347.224 377.75 347.588L370.984 351.492C370.351 351.859 369.393 351.899 368.845 351.582Z" fill="#727A9C"/>
                    <path d="M224.2 303.651L204.09 292.047C203.542 291.731 203.61 291.179 204.243 290.813L211.009 286.909C211.642 286.543 212.6 286.503 213.148 286.821L233.258 298.425C233.806 298.741 233.737 299.293 233.104 299.659L226.339 303.563C225.706 303.928 224.748 303.968 224.2 303.651Z" fill="#727A9C"/>
                    <path d="M353.747 378.411L333.636 366.804C333.087 366.488 333.157 365.937 333.789 365.571L340.555 361.667C341.188 361.301 342.146 361.261 342.693 361.579L362.803 373.183C363.351 373.499 363.283 374.051 362.65 374.416L355.884 378.321C355.251 378.686 354.294 378.726 353.747 378.411Z" fill="#727A9C"/>
                    <path d="M311.575 367.516L304.747 363.574C304.2 363.258 304.268 362.706 304.901 362.34L312.961 357.69C313.593 357.325 314.55 357.285 315.099 357.601L321.928 361.541C322.476 361.858 322.407 362.41 321.774 362.775L313.715 367.427C313.08 367.792 312.124 367.832 311.575 367.516Z" fill="#727A9C"/>
                    <path d="M234.998 323.326L224.079 317.023C223.53 316.707 223.598 316.155 224.231 315.789L232.291 311.138C232.924 310.773 233.882 310.733 234.43 311.049L245.351 317.352C245.899 317.668 245.831 318.219 245.198 318.585L237.137 323.236C236.504 323.602 235.546 323.642 234.998 323.326Z" fill="#727A9C"/>
                    <path d="M301.416 361.652L290.495 355.35C289.946 355.035 290.014 354.483 290.648 354.117L298.708 349.465C299.341 349.099 300.299 349.061 300.847 349.376L311.767 355.678C312.314 355.994 312.246 356.547 311.614 356.913L303.554 361.564C302.922 361.93 301.964 361.968 301.416 361.652Z" fill="#727A9C"/>
                    <path d="M250.212 332.104L239.291 325.803C238.744 325.487 238.812 324.934 239.445 324.569L247.504 319.917C248.139 319.552 249.095 319.513 249.643 319.828L260.564 326.13C261.112 326.446 261.043 326.999 260.411 327.365L252.351 332.016C251.718 332.381 250.76 332.42 250.212 332.104Z" fill="#727A9C"/>
                    <path d="M249.718 319.871L297.196 347.27C297.785 347.609 297.786 348.161 297.196 348.501L288.977 353.244C288.389 353.583 287.434 353.583 286.844 353.244L239.367 325.846L249.718 319.871Z" fill="#727A9C"/>
                    <path d="M341.047 378.548L348.652 382.939C349.101 383.197 349.046 383.65 348.527 383.95L345.23 385.853C344.71 386.152 343.926 386.185 343.476 385.925L335.869 381.536C335.421 381.276 335.476 380.823 335.997 380.524L339.294 378.621C339.812 378.322 340.597 378.289 341.047 378.548Z" fill="#727A9C"/>
                    <path d="M330.414 372.413L338.021 376.803C338.47 377.061 338.414 377.515 337.894 377.814L334.597 379.717C334.078 380.016 333.293 380.048 332.844 379.789L325.239 375.401C324.789 375.14 324.845 374.687 325.365 374.388L328.662 372.485C329.179 372.186 329.965 372.154 330.414 372.413Z" fill="#727A9C"/>
                    <path d="M319.87 366.328L327.475 370.716C327.925 370.977 327.868 371.429 327.349 371.729L324.053 373.632C323.534 373.93 322.749 373.963 322.3 373.703L314.693 369.314C314.244 369.054 314.3 368.602 314.819 368.303L318.116 366.4C318.636 366.1 319.421 366.068 319.87 366.328Z" fill="#727A9C"/>
                    <path d="M336.237 369.052L343.843 373.442C344.293 373.702 344.236 374.154 343.717 374.454L340.421 376.356C339.902 376.655 339.117 376.688 338.668 376.428L331.061 372.04C330.612 371.781 330.668 371.326 331.187 371.028L334.484 369.125C335.003 368.826 335.787 368.794 336.237 369.052Z" fill="#727A9C"/>
                    <path d="M320.692 226.417L270.631 197.528C269.4 196.819 268.404 194.914 268.404 193.276V153.906C268.404 152.267 269.4 151.514 270.631 152.223L320.692 181.112C321.922 181.822 322.918 183.726 322.918 185.365V224.735C322.918 226.374 321.922 227.127 320.692 226.417Z" fill="#F7FAEB"/>
                    <path d="M285.77 199.829L285.417 199.626C284.112 198.872 283.054 196.853 283.054 195.114V176.352C283.054 174.613 284.112 173.814 285.417 174.567L285.77 174.771C287.075 175.524 288.132 177.544 288.132 179.283V198.045C288.132 199.782 287.075 200.582 285.77 199.829Z" fill="#D9EABC"/>
                    <path d="M295.837 205.64L295.484 205.436C294.179 204.682 293.122 202.663 293.122 200.924V189.943C293.122 188.203 294.179 187.405 295.484 188.158L295.837 188.361C297.142 189.114 298.2 191.134 298.2 192.874V203.854C298.2 205.593 297.142 206.392 295.837 205.64Z" fill="#D9EABC"/>
                    <path d="M305.905 211.449L305.553 211.246C304.248 210.493 303.191 208.473 303.191 206.733V180.596C303.191 178.857 304.248 178.058 305.553 178.811L305.905 179.014C307.211 179.768 308.269 181.788 308.269 183.526V209.664C308.269 211.403 307.211 212.203 305.905 211.449Z" fill="#8DC640"/>
                    <path d="M368.422 215.831L337.319 197.883C336.166 197.218 335.231 195.432 335.231 193.895C335.231 192.358 336.166 191.652 337.319 192.317L368.422 210.265C369.575 210.931 370.51 212.716 370.51 214.253C370.51 215.79 369.575 216.497 368.422 215.831Z" fill="#D9EABC"/>
                    <path d="M348.414 215.218L337.319 208.815C336.166 208.15 335.231 206.364 335.231 204.827C335.231 203.291 336.166 202.585 337.319 203.249L348.414 209.652C349.567 210.318 350.503 212.103 350.503 213.639C350.503 215.177 349.567 215.884 348.414 215.218Z" fill="#D9EABC"/>
                    <path d="M367.033 225.963L355.939 219.56C354.786 218.894 353.85 217.109 353.85 215.572C353.85 214.035 354.785 213.329 355.939 213.995L367.033 220.397C368.186 221.063 369.122 222.848 369.122 224.385C369.122 225.922 368.186 226.628 367.033 225.963Z" fill="#8DC640"/>
                    <path d="M390.431 239.507L374.558 230.305C373.405 229.64 372.469 227.855 372.469 226.317C372.469 224.78 373.404 224.074 374.558 224.739L390.431 233.942C391.583 234.607 392.519 236.393 392.519 237.929C392.518 239.466 391.583 240.172 390.431 239.507Z" fill="#D9EABC"/>
                    <path d="M376.18 242.174L337.319 219.748C336.166 219.083 335.231 217.297 335.231 215.76C335.231 214.223 336.166 213.517 337.319 214.183L376.18 236.608C377.333 237.273 378.268 239.059 378.268 240.596C378.268 242.133 377.333 242.84 376.18 242.174Z" fill="#D9EABC"/>
                    <path d="M392.518 262.41L337.319 230.682C336.166 230.016 335.231 228.231 335.231 226.694C335.231 225.157 336.166 224.45 337.319 225.116L392.518 256.845C393.671 257.51 394.607 259.295 394.607 260.833C394.607 262.37 393.672 263.076 392.518 262.41Z" fill="#8DC640"/>
                    <path d="M397.187 232.382L377.008 220.786C375.855 220.12 374.92 218.334 374.92 216.797C374.92 215.261 375.854 214.555 377.008 215.22L397.187 226.816C398.341 227.481 399.276 229.267 399.276 230.804C399.275 232.341 398.341 233.048 397.187 232.382Z" fill="#D9EABC"/>
                    <path d="M278.094 233.221L268.274 227.555V238.887L278.094 244.554V233.221Z" fill="#8DC640"/>
                    <path d="M293.606 232.81L283.786 227.144V247.838L293.606 253.505V232.81Z" fill="#D9EABC"/>
                    <path d="M309.117 247.675L299.298 242.008V256.79L309.117 262.456V247.675Z" fill="#D9EABC"/>
                    <path d="M324.629 252.355L314.809 246.689V265.741L324.629 271.407V252.355Z" fill="#D9EABC"/>
                    <path d="M340.141 262.457L330.321 256.79V274.693L340.141 280.359V262.457Z" fill="#8DC640"/>
                    <path d="M355.653 266.902L345.833 261.235V283.643L355.653 289.31V266.902Z" fill="#53B848"/>
                    <path d="M371.164 273.461L361.345 267.795V292.595L371.164 298.262V273.461Z" fill="#D9EABC"/>
                    <path d="M386.676 276.365L376.856 270.698V301.546L386.676 307.213V276.365Z" fill="#8DC640"/>
                    <path d="M455.53 229.332L454.979 227.183L448.733 228.783L449.283 230.931L455.53 229.332Z" fill="#D9EABC"/>
                    <path d="M452.369 232.441L451.818 230.292L445.572 231.891L446.122 234.04L452.369 232.441Z" fill="#D9EABC"/>
                    <path d="M449.178 235.548L448.625 233.398L442.38 235.003L442.933 237.152L449.178 235.548Z" fill="#D9EABC"/>
                    <path d="M445.961 238.641L445.41 236.492L439.164 238.093L439.716 240.242L445.961 238.641Z" fill="#D9EABC"/>
                    <path d="M324.154 359.475L304.366 348.057L284.58 359.475L304.366 370.894L324.154 359.475Z" fill="#939CBC"/>
                    <path d="M261.781 361.469L241.994 350.05L222.206 361.469L241.994 372.887L261.781 361.469Z" fill="#939CBC"/>
                    <path d="M219.906 337.491L200.119 326.073L180.332 337.491L200.119 348.91L219.906 337.491Z" fill="#939CBC"/>
                    <path d="M241.994 361.468V300.568L261.781 289.149V350.05L241.994 361.468Z" fill="#C14027"/>
                    <path d="M261.781 289.149L241.994 277.73L222.207 289.149L241.994 300.568L261.781 289.149Z" fill="#EE612E"/>
                    <path d="M241.994 300.568L222.206 289.149V350.05L241.994 361.468V300.568Z" fill="#7AC143"/>
                    <path d="M241.994 361.468V300.568L261.781 289.149V350.05L241.994 361.468Z" fill="#53B848"/>
                    <path d="M261.781 289.149L241.994 277.73L222.207 289.149L241.994 300.568L261.781 289.149Z" fill="#A4CE3A"/>
                    <path d="M283.996 386.032V351.775L303.784 340.356V374.613L283.996 386.032Z" fill="#53B848"/>
                    <path d="M283.996 351.775L264.208 340.356V374.613L283.996 386.032V351.775Z" fill="#7AC143"/>
                    <path d="M303.784 340.356L283.996 328.938L264.208 340.356L283.996 351.775L303.784 340.356Z" fill="#A4CE3A"/>
                    <path d="M200.119 337.491V253.754L219.906 242.335V326.073L200.119 337.491Z" fill="#53B848"/>
                    <path d="M200.119 253.754L180.332 242.335V326.073L200.119 337.491V253.754Z" fill="#7AC143"/>
                    <path d="M219.906 242.335L200.119 230.916L180.332 242.335L200.119 253.754L219.906 242.335Z" fill="#A4CE3A"/>
                    <path d="M188.332 289.674C188.332 289.674 185.065 288.026 183.059 290.478C181.053 292.931 178.185 298.719 178.095 302.632C178.007 306.543 181.193 306.278 183.086 305.353C184.981 304.428 190.512 296.406 190.847 294.835C191.182 293.263 190.453 291.137 189.919 290.722C189.388 290.306 188.332 289.674 188.332 289.674Z" fill="#CBCDDA"/>
                    <path d="M189.045 288.885L189.197 292.27C189.228 292.989 188.866 293.674 188.24 294.029C187.67 294.354 186.841 294.601 185.721 294.421C183.259 294.025 183.039 293.324 182.864 289.94C182.687 286.559 189.045 288.885 189.045 288.885Z" fill="#D4EAF9"/>
                    <path d="M176.374 283.168C176.374 283.168 173.105 281.522 171.099 283.974C169.093 286.426 166.225 292.213 166.135 296.126C166.047 300.037 169.232 299.773 171.126 298.849C173.02 297.922 178.552 289.902 178.886 288.33C179.222 286.757 178.492 284.632 177.959 284.217C177.428 283.801 176.374 283.168 176.374 283.168Z" fill="#CBCDDA"/>
                    <path d="M177.085 282.381L177.237 285.765C177.269 286.484 176.908 287.169 176.28 287.524C175.71 287.849 174.88 288.095 173.761 287.917C171.299 287.52 171.079 286.818 170.904 283.435C170.727 280.053 177.085 282.381 177.085 282.381Z" fill="#D4EAF9"/>
                    <path d="M206.24 220.266C205.272 204.539 189.2 222.579 189.2 222.579L178.2 233.356L168.294 244.233C166.359 246.357 165.459 249.225 165.833 252.073L169.84 282.57C170.038 284.077 171.328 285.188 172.848 285.176C173.277 285.173 173.769 285.133 174.332 285.045C177.907 284.489 177.643 281.091 177.643 281.091L176.911 252.566L197.714 240.033C197.713 240.034 207.206 235.992 206.24 220.266Z" fill="#77787B"/>
                    <path d="M218.199 226.257C217.231 210.53 201.159 228.571 201.159 228.571L190.159 239.348L180.253 250.225C178.318 252.348 177.418 255.217 177.793 258.064L181.8 288.562C181.998 290.068 183.287 291.179 184.808 291.167C185.236 291.164 185.729 291.125 186.291 291.036C189.867 290.48 189.603 287.083 189.603 287.083L188.87 258.558L209.673 246.024C209.673 246.025 219.166 241.983 218.199 226.257Z" fill="#808285"/>
                    <path d="M208.69 175.775C220.876 180.825 220.631 188.024 220.631 188.024C220.631 188.024 218.245 214.419 219.06 232.045C219.401 239.414 179.89 239.977 185.782 220.317C192.729 197.138 190.126 178.372 193.378 175.542C196.629 172.711 205.538 174.469 208.69 175.775Z" fill="#53B848"/>
                    <path d="M205.373 185.076C208.734 185.942 211.975 184.639 212.612 182.166C213.25 179.693 211.042 176.986 207.681 176.121C204.32 175.255 201.079 176.558 200.441 179.031C199.804 181.504 202.012 184.211 205.373 185.076Z" fill="#FBC1B1"/>
                    <path d="M207.426 185.916C206.712 185.916 205.971 185.826 205.224 185.633C201.559 184.69 199.157 181.66 199.872 178.881C200.59 176.102 204.153 174.605 207.824 175.551C209.569 176.001 211.085 176.929 212.095 178.166C213.147 179.455 213.531 180.925 213.174 182.305C212.603 184.518 210.224 185.916 207.426 185.916ZM205.592 176.427C203.33 176.427 201.438 177.479 201.001 179.171C200.446 181.329 202.471 183.722 205.516 184.506C208.557 185.287 211.49 184.172 212.047 182.014C212.307 181.002 212.004 179.896 211.193 178.902C210.339 177.856 209.04 177.067 207.532 176.678C206.874 176.508 206.218 176.427 205.592 176.427Z" fill="white"/>
                    <path d="M203.805 175.227C203.805 175.227 203.91 175.714 203.7 179.574C203.634 180.787 207.884 181.921 208.982 180.822C210.081 179.725 209.641 178.582 209.906 174.453C210.169 170.324 203.805 175.227 203.805 175.227Z" fill="#FBC1B1"/>
                    <path d="M209.906 174.453C209.906 174.453 208.858 178.282 203.698 179.75L203.777 176.27L209.906 174.453Z" fill="#EA9C92"/>
                    <path d="M204.093 176.448C209.273 176.448 213.473 172.25 213.473 167.072C213.473 161.894 209.273 157.696 204.093 157.696C198.912 157.696 194.713 161.894 194.713 167.072C194.713 172.25 198.912 176.448 204.093 176.448Z" fill="#FBC1B1"/>
                    <path d="M206.246 167.416C206.246 167.416 201.082 169.626 197.507 169.652C193.932 169.678 194.718 166.684 194.718 166.684L205.334 165.151L206.246 167.416Z" fill="#EA9C92"/>
                    <path d="M196.441 167.998C196.441 167.998 200.939 166.09 204.886 166.885C205.813 167.072 206.673 167.569 207.271 168.303C207.466 168.542 207.712 168.761 207.993 168.825C208.693 168.982 209.838 166.081 211.199 166.014C212.559 165.948 213.466 166.911 212.351 168.695C211.235 170.48 211.613 172.477 212.126 172.764C212.639 173.05 218.083 168.884 213.282 159.377C208.48 149.87 196.284 154.991 194.387 156.918C194.387 156.918 192.389 158.657 190.763 157.109C190.763 157.109 188.942 170.748 196.441 167.998Z" fill="#203442"/>
                    <path d="M213.795 207.307V214.44C213.795 215.257 213.452 216.037 212.847 216.587L198.19 229.944L199.854 232.49L219.212 218.457C220.116 217.803 220.698 216.795 220.816 215.685L222.124 203.247L213.795 207.307Z" fill="#FBC1B1"/>
                    <path d="M219.6 184.458C219.6 184.458 224.046 191.142 225.703 208.737C225.703 208.737 218.107 211.193 213.795 209.799C209.485 208.406 219.6 184.458 219.6 184.458Z" fill="#53B848"/>
                    <path d="M212.983 192.91C212.983 192.91 211.243 202.222 211.144 206.599C211.117 207.802 211.851 208.889 212.983 209.298V192.91Z" fill="#2A772C"/>
                    <path d="M209.181 239.218L205.941 238.791L185.027 226.722C184.358 226.335 183.186 226.384 182.411 226.831L167.593 235.379L165.634 235.121V237.07L165.635 237.07C165.622 237.326 165.769 237.573 166.086 237.756L189.786 251.434C190.457 251.821 191.628 251.771 192.402 251.325L208.541 242.015C208.976 241.763 209.194 241.44 209.181 241.136V239.218Z" fill="#5E6582"/>
                    <path d="M193.467 231.593L191.982 230.735H175.646L167.593 235.38L165.635 235.121V237.07L165.635 237.071C165.623 237.327 165.77 237.573 166.086 237.756L189.787 251.434C190.141 251.638 190.635 251.72 191.136 251.687L193.467 231.593Z" fill="#3B6DAB"/>
                    <path d="M166.504 235.235L165.634 235.12V237.07L165.635 237.07C165.622 237.326 165.769 237.573 166.086 237.756L166.504 237.997V235.235Z" fill="#5793CE"/>
                    <path d="M190.026 251.544C190.661 251.786 191.569 251.733 192.248 251.406V248.09H190.026V251.544Z" fill="white"/>
                    <path d="M189.786 249.485L166.086 235.808C165.415 235.421 165.499 234.745 166.273 234.299L182.411 224.989C183.186 224.542 184.357 224.493 185.027 224.88L208.728 238.557C209.399 238.944 209.315 239.619 208.54 240.067L192.401 249.377C191.627 249.824 190.457 249.872 189.786 249.485Z" fill="white"/>
                    <path d="M189.385 247.412L169.678 236.04C169.121 235.718 169.191 235.156 169.835 234.785L178.483 229.924C179.127 229.552 180.1 229.512 180.658 229.833L200.365 241.206C200.923 241.528 200.854 242.09 200.208 242.461L191.561 247.323C190.917 247.694 189.943 247.734 189.385 247.412Z" fill="#E8EAEF"/>
                    <path d="M183.329 224.539L183.083 226.174C182.874 227.567 182.911 228.986 183.19 230.365L183.482 231.805C183.646 232.618 184.29 233.248 185.105 233.396C185.743 233.513 186.346 233.066 186.417 232.421L186.808 228.927C186.808 228.927 187.702 230.099 188.135 230.099C188.565 230.099 187.652 226.599 186.675 224.618C185.697 222.639 183.329 224.539 183.329 224.539Z" fill="#FBC1B1"/>
                    <path d="M191.362 198.562L188.819 203.593C188.218 204.782 187.864 206.081 187.778 207.411L186.675 224.619L183.329 224.539L181.81 205.215C181.763 204.618 181.792 204.018 181.897 203.429L183.631 193.629L191.362 198.562Z" fill="#FBC1B1"/>
                    <path d="M188.985 250.799L186.997 248.206L166.099 236.112C165.429 235.724 164.886 234.685 164.888 233.792L164.905 216.691L163.704 215.122L164.832 214.469L164.833 214.47C165.05 214.331 165.337 214.335 165.654 214.517L189.338 228.223C190.009 228.611 190.55 229.65 190.55 230.544L190.53 249.168C190.528 249.671 190.357 250.021 190.086 250.161L188.985 250.799Z" fill="#5E6582"/>
                    <path d="M174.532 240.992L173.047 240.133L164.897 225.983L164.906 216.691L163.704 215.122L164.833 214.469L164.834 214.47C165.05 214.331 165.338 214.335 165.654 214.517L189.339 228.223C189.692 228.429 190.011 228.816 190.232 229.266L174.532 240.992Z" fill="#5E6582"/>
                    <path d="M164.237 215.818L163.704 215.122L164.832 214.469L164.833 214.47C165.05 214.331 165.337 214.335 165.654 214.517L166.072 214.759L164.237 215.818Z" fill="#676F8E"/>
                    <path d="M189.552 228.375C190.078 228.806 190.486 229.619 190.541 230.369L188.227 231.705L187.117 229.779L189.552 228.375Z" fill="#676F8E"/>
                    <path d="M188.21 228.876L164.525 215.171C163.855 214.783 163.31 215.193 163.309 216.087L163.289 234.712C163.288 235.605 163.831 236.644 164.501 237.031L188.186 250.737C188.855 251.125 189.4 250.715 189.401 249.821L189.421 231.196C189.421 230.303 188.879 229.265 188.21 228.876Z" fill="#727A9C"/>
                    <path d="M199.854 232.49L199.476 233.276C199.038 234.181 198.352 234.942 197.496 235.469L195.143 236.918C194.412 237.37 193.485 237.406 192.741 236.974C192.715 236.959 192.688 236.942 192.661 236.926C191.913 236.457 191.845 235.385 192.461 234.753L194.92 232.227C194.92 232.227 193.538 233.284 193.151 232.858C192.867 232.546 194.49 231.023 195.737 230.973C196.983 230.922 198.189 229.945 198.189 229.945L199.854 232.49Z" fill="#FBC1B1"/>
                    <path d="M193.621 175.505C193.621 175.505 184.608 185.306 180.973 194.298C180.973 194.298 184.054 199.848 191.598 202.025C199.142 204.203 193.621 175.505 193.621 175.505Z" fill="#53B848"/>
                    <path d="M189.902 201.444L191.362 187.339L187.92 200.554C188.534 200.873 189.198 201.171 189.902 201.444Z" fill="#2A772C"/>
                    <path d="M200.371 173.527L197.949 172.862C197.949 172.862 199.106 174.68 200.793 175.143C202.481 175.607 202.744 174.179 202.744 174.179L200.371 173.527Z" fill="white"/>
                    <path d="M179.12 422.786C162.83 413.385 136.42 413.385 120.131 422.786C103.842 432.186 103.842 447.427 120.131 456.826C136.421 466.227 162.831 466.227 179.121 456.827C195.411 447.428 195.409 432.187 179.12 422.786ZM163.183 447.63C155.696 451.951 143.556 451.951 136.068 447.63C128.58 443.309 128.58 436.303 136.067 431.983C143.556 427.661 155.696 427.661 163.183 431.983C170.671 436.303 170.671 443.309 163.183 447.63Z" fill="#EAEDEF"/>
                    <path d="M113.978 417.216L128.858 417.448C129.959 416.016 131.522 414.673 133.557 413.498C141.739 408.778 154.605 408.412 163.519 412.398L172.361 404.085L185.975 404.299C185.302 403.859 184.611 403.425 183.883 403.004C164.963 392.086 134.289 392.086 115.369 403.004C111.89 405.011 109.056 407.251 106.856 409.632L113.978 417.216Z" fill="#338332"/>
                    <path d="M185.974 382.701V404.298L172.36 404.085V382.489L185.974 382.701Z" fill="#A4CE3A"/>
                    <path d="M163.519 390.8V412.397L172.36 404.085V382.489L163.519 390.8Z" fill="#338332"/>
                    <path d="M128.858 395.851V417.448L148.431 401.505L163.519 412.398V390.8L149.626 384.064C149.626 384.064 130.5 389.915 129.506 390.164C128.512 390.413 128.858 395.851 128.858 395.851Z" fill="#338332"/>
                    <path d="M113.978 395.619V417.216L128.858 417.448V395.851L113.978 395.619Z" fill="#338332"/>
                    <path d="M106.856 388.035V409.631L113.978 417.216V395.619L106.856 388.035Z" fill="#A4CE3A"/>
                    <path d="M113.978 395.619L128.858 395.851C129.959 394.418 131.522 393.076 133.557 391.902C141.739 387.18 154.605 386.816 163.519 390.8L172.361 382.49L185.975 382.701C185.302 382.262 184.611 381.828 183.883 381.407C164.963 370.489 134.289 370.489 115.369 381.407C111.89 383.414 109.056 385.653 106.856 388.036L113.978 395.619Z" fill="#D9EABC"/>
                    <path d="M168 393.456V413.309L180.88 410.226C180.88 410.226 180.125 398.608 179.85 398.298C179.577 397.988 168 393.456 168 393.456Z" fill="#A4CE3A"/>
                    <path d="M158.254 413.31V434.907L159.646 436.389L168.726 431.157C168.726 431.157 167.317 414.67 167.152 414.339C166.986 414.007 158.254 413.31 158.254 413.31Z" fill="#338332"/>
                    <path d="M175.787 407.734L168 415.053C174.487 420.183 173.72 427.415 165.696 432.045C163.498 433.313 160.961 434.267 158.254 434.907L166.301 443.476L159.17 450.18C168.225 449.135 176.863 446.591 183.883 442.54C200.147 433.154 202.416 418.759 190.716 407.967L175.787 407.734Z" fill="#53B848"/>
                    <path d="M159.17 428.583V450.181L176.828 443.366L198.064 423.114L197.985 400.181L175.518 417.98L159.17 428.583Z" fill="#53B848"/>
                    <path d="M175.787 386.137L168 393.456C174.487 398.586 173.72 405.817 165.696 410.448C163.498 411.717 160.961 412.67 158.254 413.309L166.301 421.88L159.17 428.583C168.225 427.539 176.863 424.994 183.883 420.944C200.147 411.558 202.415 397.163 190.716 386.37L175.787 386.137Z" fill="#D9EABC"/>
                    <path d="M159.113 443.364L152.02 435.811C145.434 436.211 138.605 434.958 133.557 432.045C128.344 429.037 126.197 424.931 127.109 421.016L110.216 420.752L103.721 413.837C98.0389 423.582 101.916 434.776 115.37 442.54C125.257 448.245 138.353 450.963 151.304 450.706L159.113 443.364Z" fill="#53B848"/>
                    <path d="M151.303 429.108V450.706L101.193 422.948V401.342L108.509 404.298L151.303 429.108Z" fill="#53B848"/>
                    <path d="M159.113 421.768V443.364L151.304 450.706V429.108L159.113 421.768Z" fill="#338332"/>
                    <path d="M159.113 421.768L152.02 414.214C145.434 414.615 138.605 413.361 133.557 410.448C128.344 407.439 126.197 403.334 127.109 399.42L110.216 399.156L103.721 392.24C98.0389 401.985 101.916 413.178 115.37 420.944C125.257 426.648 138.353 429.367 151.304 429.108L159.113 421.768Z" fill="#D9EABC"/>
                    <path d="M188.384 129.317L189.672 127.132C189.672 127.132 190.747 127.725 191.903 127.363C192.825 127.071 193.624 126.238 194.278 124.886C196.579 120.117 200.831 119.757 202.756 120.232L202.148 122.694L202.452 121.463L202.157 122.696C201.788 122.611 198.495 121.987 196.563 125.987C195.583 128.018 194.254 129.3 192.614 129.798C190.421 130.46 188.586 129.436 188.384 129.317Z" fill="#D9EABC"/>
                    <path d="M148.044 212.507C141.631 212.507 136.416 207.294 136.416 200.885C136.416 194.476 141.631 189.263 148.044 189.263C154.456 189.263 159.671 194.476 159.671 200.885C159.671 207.294 154.456 212.507 148.044 212.507ZM148.044 191.798C143.031 191.798 138.952 195.875 138.952 200.885C138.952 205.896 143.031 209.972 148.044 209.972C153.057 209.972 157.135 205.896 157.135 200.885C157.135 195.875 153.057 191.798 148.044 191.798Z" fill="#D9EABC"/>
                    <path d="M79.8127 373.074C75.2665 373.074 71.5676 369.377 71.5676 364.833C71.5676 360.289 75.2665 356.591 79.8127 356.591C84.3593 356.591 88.0582 360.289 88.0582 364.833C88.0582 369.377 84.3593 373.074 79.8127 373.074ZM79.8127 359.127C76.6654 359.127 74.104 361.687 74.104 364.833C74.104 367.979 76.6649 370.539 79.8127 370.539C82.9604 370.539 85.5213 367.979 85.5213 364.833C85.5213 361.687 82.9604 359.127 79.8127 359.127Z" fill="#D9EABC"/>
                    <path d="M131.015 280.506L125.42 269.128L136.803 263.534L142.4 274.913L131.015 280.506ZM128.815 270.285L132.173 277.113L139.005 273.755L135.645 266.927L128.815 270.285Z" fill="#D9EABC"/>
                    <path d="M411.488 155.848L406.253 158.42L408.826 163.652L414.061 161.08L411.488 155.848Z" fill="#D9EABC"/>
                    <path d="M311.588 90.837L309.795 89.0447L301.274 97.5619L303.067 99.3542L311.588 90.837Z" fill="#D9EABC"/>
                    <path d="M311.595 97.5563L303.073 89.0388L301.28 90.831L309.802 99.3486L311.595 97.5563Z" fill="#D9EABC"/>
                    <path d="M391.163 104.444C394.468 104.444 397.148 101.765 397.148 98.4615C397.148 95.1576 394.468 92.4792 391.163 92.4792C387.857 92.4792 385.177 95.1576 385.177 98.4615C385.177 101.765 387.857 104.444 391.163 104.444Z" fill="#F7FAEB"/>
                    <path d="M232.582 437.041C234.503 437.041 236.061 435.484 236.061 433.564C236.061 431.644 234.503 430.087 232.582 430.087C230.661 430.087 229.104 431.644 229.104 433.564C229.104 435.484 230.661 437.041 232.582 437.041Z" fill="#D9EABC"/>
                    <path d="M369.755 440.281C373.694 440.281 376.887 437.089 376.887 433.152C376.887 429.215 373.694 426.023 369.755 426.023C365.816 426.023 362.622 429.215 362.622 433.152C362.622 437.089 365.816 440.281 369.755 440.281Z" fill="#E8EAEF"/>
                    <path d="M120.848 297.529L95.3801 282.832C94.876 282.541 94.4208 282.53 94.064 282.726C94.064 282.725 94.0654 282.711 94.0654 282.711L91.5956 284.137C91.5956 284.137 92.689 284.536 93.3312 284.771V303.308C93.3312 304.817 94.2485 306.569 95.3801 307.222L119.723 321.27V323.444L122.218 322.008L122.205 322.003C122.627 321.746 122.897 321.181 122.897 320.37V301.442C122.897 299.934 121.98 298.182 120.848 297.529Z" fill="#67972F"/>
                    <path d="M118.332 323.368L92.8648 308.672C91.7327 308.018 90.8149 306.267 90.8149 304.758V285.831C90.8149 284.322 91.7327 283.629 92.8648 284.281L118.332 298.978C119.464 299.632 120.382 301.384 120.382 302.892V321.82C120.382 323.328 119.464 324.021 118.332 323.368Z" fill="#B5D334"/>
                    <path d="M101.429 302.148C101.429 303.244 100.66 303.688 99.7101 303.14C98.761 302.593 97.9921 301.26 97.9921 300.166C97.9921 299.07 98.761 298.626 99.7101 299.173C100.66 299.721 101.429 301.054 101.429 302.148Z" fill="white"/>
                    <path d="M106.635 305.153C106.635 306.248 105.865 306.692 104.916 306.144C103.967 305.596 103.197 304.265 103.197 303.169C103.197 302.074 103.967 301.629 104.916 302.178C105.865 302.725 106.635 304.057 106.635 305.153Z" fill="white"/>
                    <path d="M111.84 308.157C111.84 309.251 111.071 309.696 110.122 309.148C109.172 308.601 108.403 307.269 108.403 306.174C108.403 305.078 109.172 304.635 110.122 305.183C111.071 305.729 111.84 307.062 111.84 308.157Z" fill="white"/>
                    <path d="M365.094 123.636L339.626 108.939C339.122 108.649 338.667 108.637 338.31 108.834C338.311 108.832 338.312 108.817 338.312 108.817L335.84 110.244C335.84 110.244 336.935 110.642 337.577 110.878V129.416C337.577 130.925 338.494 132.677 339.626 133.33L363.968 147.377V149.553L366.465 148.115L366.451 148.111C366.873 147.854 367.144 147.29 367.144 146.479V127.55C367.143 126.042 366.226 124.29 365.094 123.636Z" fill="#67972F"/>
                    <path d="M362.577 149.476L337.11 134.779C335.978 134.126 335.06 132.373 335.06 130.865V111.937C335.06 110.429 335.978 109.736 337.11 110.389L362.577 125.086C363.71 125.739 364.627 127.491 364.627 129V147.927C364.627 149.436 363.71 150.129 362.577 149.476Z" fill="#B5D334"/>
                    <path d="M345.675 128.256C345.675 129.351 344.906 129.795 343.956 129.247C343.007 128.699 342.237 127.368 342.237 126.272C342.237 125.177 343.007 124.733 343.956 125.281C344.906 125.829 345.675 127.16 345.675 128.256Z" fill="white"/>
                    <path d="M350.881 131.261C350.881 132.356 350.111 132.799 349.162 132.252C348.213 131.704 347.443 130.372 347.443 129.277C347.443 128.182 348.213 127.738 349.162 128.285C350.111 128.833 350.881 130.165 350.881 131.261Z" fill="white"/>
                    <path d="M356.087 134.265C356.087 135.36 355.318 135.804 354.368 135.256C353.419 134.708 352.65 133.377 352.65 132.281C352.65 131.186 353.419 130.742 354.368 131.289C355.318 131.837 356.087 133.169 356.087 134.265Z" fill="white"/>
                    <path d="M362.844 441.915L377.795 433.286L392.747 441.915L377.795 450.543L362.844 441.915Z" fill="#E8EAEF"/>
                    <path d="M394.582 423.354L409.534 414.726L424.486 423.354L409.534 431.983L394.582 423.354Z" fill="#E8EAEF"/>
                    <path d="M426.223 405.237L441.177 396.608L456.128 405.237L441.177 413.865L426.223 405.237Z" fill="#E8EAEF"/>
                    <path d="M409.534 423.354V377.336L394.582 368.708V414.726L409.534 423.354Z" fill="#C14027"/>
                    <path d="M409.534 377.336L424.486 368.708V414.726L409.534 423.354V377.336Z" fill="#53B848"/>
                    <path d="M409.534 423.354V377.336L394.582 368.708V414.726L409.534 423.354Z" fill="#95C93E"/>
                    <path d="M377.795 441.915V416.029L362.844 407.401V433.286L377.795 441.915Z" fill="#95C93E"/>
                    <path d="M377.795 416.029L392.747 407.401V433.286L377.795 441.915V416.029Z" fill="#53B848"/>
                    <path d="M362.844 407.401L377.795 398.772L392.747 407.401L377.795 416.029L362.844 407.401Z" fill="#A4CE3A"/>
                    <path d="M441.177 405.237V341.962L426.223 333.333V396.608L441.177 405.237Z" fill="#95C93E"/>
                    <path d="M441.177 341.962L456.128 333.333V396.608L441.177 405.237V341.962Z" fill="#53B848"/>
                    <path d="M426.223 333.333L441.177 324.706L456.128 333.333L441.177 341.962L426.223 333.333Z" fill="#A4CE3A"/>
                    <path d="M394.582 368.708L409.534 360.08L424.486 368.708L409.534 377.336L394.582 368.708Z" fill="#A4CE3A"/>
                </svg>
            </div>
            <div class="col-md-6 col-lg-5 order-md-0 text-center my-auto">
                <div class="section-title">Welcome!</div>
                <div class="text-contents color-theme banner-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et augue ut metus maximus rhoncus eu in enim. Nullam efficitur</div>
            </div>
        </div>
    </div>
</section>
<section class="bg-img-theme">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <div class="mb-md-100 mb-2">
                    <div class="text-center section-id-go"><a href="#how-it-works"><i class="fa fa-chevron-down"></i></a></div>
                    <div class="section-title" id="how-it-works">HOW IT WORKS</div>
                    <div class="text-contents mb-md-2 mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et augue ut metus maximus rhoncus eu in enim. Nullam efficitur auctor ullamcorper. Nam vulputate commodo gravida. Phasellus vel urna eu ante egestas imperdiet.</div>
                </div>
            </div>
            <div class=" col-md-6 col-lg-5 text-md-left text-center">
                <div class="section-title" id="how-it-works">Key Features</div>
                <div class="text-contents mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et augue ut metus maximus rhoncus eu in enim. Nullam efficitur auctor ullamcorper. Nam vulputate commodo gravida. Phasellus vel urna eu ante egestas imperdiet.</div>
            </div>
            <div class=" col-md-6 col-lg-6 offset-lg-1">
                <div class="mb-md-5 mb-2">
                    <% for (var i = 0; i < 4; i++) { %>
                    <div class="contents-item text-md-left text-center">
                        <div class="text-contents mb-2"><strong>Lorem ipsum</strong></div>
                        <div class="text-contents mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et augue ut metus maximus rhoncus eu in enim. Nullam efficitur auctor ullamcorper. Nam vulputate commodo gravida. Phasellus vel urna eu ante egestas imperdiet.</div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-md-5 pt-4">
        <div class="row">
            <div class="mb-md-5 mb-2 pb-md-5 pb-3">
                <div class="col-lg-8 mx-auto text-center mb-md-5 mb-3">
                    <div class="section-title" id="how-it-works">Subscribe to our newsletter</div>
                    <div class="text-contents">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et augue ut metus maximus rhoncus eu in enim. Nullam efficitur auctor ullamcorper. Nam vulputate commodo gravida. Phasellus vel urna eu ante egestas imperdiet.</div>
                </div>
                <div class="col-lg-6 mx-auto text-center">
                    <form class="subscribe-form">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">Subscribe</span>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<h1>Dashboard</h1>-->
<!--<p>Welcome <strong><%= user %></strong> </p>-->
<!--<div class="row">-->
<!-- <div class="col-md-6">
    <div class="html5-dialog">
        <dialog id="window">
          
          <form class="" action="/dashboard/admin" method="POST">
            <h2 class="form-signin-heading">Add Admin</h2>
            <div class="form-group">
                <input type="text" id="name" name="adminName" class="form-control" placeholder="Enter a new admin name" required autofocus>
            </div>
            <div class="form-group">
                <input type="text"   id="description" 
                name="description" class="form-control" placeholder="description"  >
            </div>
            <button id="exit" class="btn btn-outline-dark" >Exit</button>
            <button class="btn btn-lg btn-default btn-block" type="submit" >Add</button>
          </form>
          
          
        </dialog>
        <button id="show" class="btn btn-primary btn-block" >Add New Admin</button>
    </div>
</div> -->
<!--</div>-->
<!--<div class="table-responsive-sm">
    <% if(admin.length){ %>   
  <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">Name
  
        </th>
        <th class="th-sm">Description
  
        </th>
       
      </tr>
      <% } %>
    </thead>
    <tbody>
        <% for (var i = 0; i < admin.length; i++) { %>
      <tr>
          <td>
              <%= admin[i].name %>
          </td>
          <td>
              <%= admin[i].description %>
          </td>
      </tr>
      
      <% } %>
    </tbody>
      
    </table>
  </div>-->



<!-- JavaScript to provide the "Show/Close" functionality -->

<%- include('./layout/footer'); -%>