<%- include('./layout/header'); -%>

    <%- include('./layout/partials/navbar'); -%>

        <section class="section-theme">
            <div class="container">
                <div class="section-title">Welcome <strong><%= walletName%></div>
                <!-- <p class="color-theme">Welcome <strong><%= walletName%></strong> </p> -->
                <form class="" action="/typeWallet" method="POST" id="radioBtn">
                    <nav class="nav-tabs-theme">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link btn-theme btn-success active" id="nav-public-tab" data-toggle="tab" href="#nav-public" role="tab" aria-controls="nav-public" aria-selected="true">     
                                Public
                            </a>

                            <a class="nav-item nav-link btn-theme btn-success" id="nav-private-tab" data-toggle="tab" href="#nav-private" role="tab" aria-controls="nav-private" aria-selected="false">                              
                                Private
                            </a>
                        </div>
                    </nav>
                    <input type="hidden" name="wallet_id" value="<%=walletId%>" />
                    <input type="hidden" value="1" name="type" id="radio_type" />
                </form>

        <div class="row mb-md-4 ">
                <div class="col-lg-4 col-md-6 col-sm-8">
                        <% if (typeof message != 'undefined' && message) { %>
                            <p class="alert alert-success">
                                <%= message %>
                            </p>
                            <% } else if(typeof errMessage != 'undefined' && errMessage) { %>
                                <p class="alert alert-danger">
                                    <%= errMessage %>
                                </p>
                                <% } %>
                </div>
        </div>
                <div class="row mb-md-4 mb-3">
                    <div class="col-lg-5 col-md-12 col-sm-12">
                        <div class="html5-dialog">
                            <dialog id="registerWindow" class="dialog-theme">
                                <form class="form-theme" action="/registerAddress" method="POST">
                                    <h2 class="form-signin-heading heading-dialog-theme">Register New Addrees</h2>
                                    <div class="form-group">
                                        <fieldset>
                                            <input type="text" id="address" minlength="26" name="address" class="form-control" placeholder="Register an Address" required autofocus>
                                            <legend>Register an Address</legend>
                                        </fieldset>
                                    </div>
                                    <input type="hidden" name="wallet_id" value="<%=walletId%>" />
                                    <button class="btn btn-theme btn-success" type="submit">Add</button>
                                    <button id="showExit" class="btn btn-theme btn-warning">Exit</button>
                                </form>
                            </dialog>
                            <button id="Registershow" class="btn btn-theme btn-success btn-block mb-2"><i class="fa fa-plus pr-3"></i> Add Registered List</button>
                        </div>
                    </div>
                </div>

                <div class="row mb-md-4 mb-3">
                    <div class="col-lg-5 col-md-12 col-sm-12">
                        <form class="" action="/getbalance" method="POST">
                            <input type="hidden" name="wallet_id" value="<%=walletId%>" />
                            <button class="btn btn-block mb-2" type="submit" id="balanceCheck"> <i class="fa fa-coins pr-3"></i>Balance Check</button>
                        </form>
                    </div>
                </div>
                <div class="row mb-md-4 mb-3">
                    <div class="col-lg-5 col-md-12 col-sm-12">
                        <form class="" action="/distributeXels" method="POST" id="distribute_form">
                            <input type="hidden" name="wallet_id" value="<%=walletId%>" />
                            <% if ( typeof bAmount != 'undefined' && bAmount) { %>
                                <input type="hidden" id="amountVal" value="<%=bAmount%>" />
                                <% } %>
                            <button class="btn btn-theme btn-danger btn-block mb-2" type="submit" id="distribution" disabled> <i class="pr-3"></i>Distribute</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>


                <div class="tab-content tab-content-theme box-theme p-3" id="nav-tabContent">
                    <div class="row">
                        <div class="col">
                            <h2 class="color-theme mb-md-4 mb-2" style="text-align: center;margin: auto;">Registered Address</h2>
                        </div>
                    </div>
                    <div class="tab-pane fade show active" id="nav-public" role="tabpanel" aria-labelledby="nav-public-tab">
                        <div class="row">
                            <div class="col" id="register_div">
                                <div class="table-responsive-sm">
                                    <% if(list.length){ %>
                                        <table id="registeredAddress" class="table-theme table table-sm" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th class="th-sm">Name
                                                    </th>
                                                    <th class="th-sm">Address
                                                    </th>
                                                    <th class="th-sm"> Action
                                                    </th>
                                                </tr>
                                                <% } %>
                                            </thead>
                                            <tbody>
                                                <% for (var i = 0; i < list.length; i++) { %>
                                                    <tr>
                                                        <td>
                                                            <%= list[i].walletName %>
                                                        </td>
                                                        <td>
                                                            <%= list[i].registered_address %>
                                                        </td>
                                                        <td>
                                                            <form method="post" action="/registeredList/delete/<%= list[i].id %>" style="float:right">

                                                                <input type="submit" name="delete" value='Delete' class="delete" onClick="return confirm('Are you sure you want to delete?')" />
                                                                <input type="hidden" name="_method" value="DELETE" />
                                                                <input type="hidden" name="walletId" value="<%=list[i].walletId%>" />
                                                                <input type="hidden" name="registeredId" value="<%=list[i].id%>" />
                                                            </form>
                                                            <!-- <button class="btn btn-danger" type="button" (click)="openDialogAddress(row)">
                                                                        Delete
                                                            </button> -->
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                            </tbody>
                                        </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>



        <!-- <script type="text/JavaScript" src="/js/dialog.js"></script> -->
        <script>
            (function() {

                var registerDialog = document.getElementById('registerWindow');
                var addRegister = document.getElementById('Registershow');
                var exitButton = document.getElementById('showExit');

                addRegister.onclick = function() {
                    registerDialog.show();
                    addRegister.style.display = "none";
                };
                exitButton.onclick = function() {
                    registerDialog.close();
                    addRegister.style.display = "block";
                };
            })();
        </script>
        <script>
            $(document).ready(function() {
                $('#registeredAddress').DataTable();
                $('.dataTables_length').addClass('bs-select');
                //$("#distribution").attr("disabled", true);
               // amountVal
               console.log($("#amountVal").val());
                if($("#amountVal").val() > 10 )
                {
                    $("#distribution").attr("disabled", false);
                }
                $('.nav-tabs a').click(function(e) {
                    var target = $(e.target).attr("id") // activated tab
                    if (target == 'nav-private-tab') {
                        $('#radio_type').val(2);
                    } else {
                        $('#radio_type').val(1);
                    }
                    var sendData = $('#radioBtn').serialize();
                    //console.log(sendData);
                    $.post('./typeWallet', sendData, function(res) {
                            // console.log(res);
                        })
                        //  document.getElementById("radioBtn").submit(target);
                });
                // $("#distribute_form").submit(function(e) {
                //     e.preventDefault();
                // });


            });
        </script>

        <script type="text/JavaScript" src="/js/dialog.js">